<section class="new-product-section">
	<div class="swiper newProductSwiper">
		<h2 class="font-semibold text-xl">Yeni ürünlerimizle evinizin havasını değiştirin</h2>
		<div class="swiper-wrapper newProductSwiper-wrapper">
			<div class="swiper-slide"><img src="~/Uploads/Product-Images/1.webp" alt=""></div>
			<div class="swiper-slide"><img src="~/Uploads/Product-Images/2.webp" alt=""></div>
			<div class="swiper-slide"><img src="~/Uploads/Product-Images/3.webp" alt=""></div>
			<div class="swiper-slide"><img src="~/Uploads/Product-Images/4.webp" alt=""></div>
			<div class="swiper-slide"><img src="~/Uploads/Product-Images/5.webp" alt=""></div>
			<div class="swiper-slide"><img src="~/Uploads/Product-Images/6.webp" alt=""></div>
			<div class="swiper-slide"><img src="~/Uploads/Product-Images/7.webp" alt=""></div>
			<div class="swiper-slide"><img src="~/Uploads/Product-Images/8.webp" alt=""></div>
		</div>
		<div class="swiper-scrollbar"></div>
	</div>
</section>
