@{
	ViewData["Title"] = "Şifre Yenileme Onayı";
}

<div class="items-center">
    <section>
        <div class="flex flex-col items-center px-4 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white md:mt-32 sm:max-w-md xl:p-0 dark:bg-gray-800">
                <div class="py-6 space-y-4 md:space-y-6 sm:p-8">
                    <div class="flex flex-col gap-4">
                        <h1 class="flex items-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                            Şifre başarıyla değiştirildi
                            <svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5 12.5L9.667 17L19 8" stroke="green" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </h1>
                        <span class="text-sm text-gray-500 mb-3">
                            <span class="fivesecondtimer">5</span> saniye içerisinde giriş ekranına yönlendirileceksiniz...
                        </span>
                        <div class="5-second hidden flex flex-col gap-2">
                            <span class="text-sm text-gray-500 mb-3">Eğer yönlendirmezse aşağıdaki butonları kullanabilirsiniz.</span>
                            <div class="flex justify-between gap-3">
	                            <a asp-action="Login" asp-controller="Login" asp-area="Authentication" class="px-4 w-full py-2 rounded-lg text-center bg-btn text-white text-sm mb-3">
		                            Giriş ekranı
	                            </a>
	                            <a asp-action="Index" asp-controller="Home" asp-area="" class="px-4 w-full py-2 rounded-lg text-center bg-btn text-white text-sm mb-3">
		                            Ana sayfa
	                            </a>
                            </div>
                        </div>
                        <script>
                            window.onload = function () {
                                setTimeout(function () {
                                    var elements = document.getElementsByClassName('5-second');
                                    if (elements.length > 0) {
                                        elements[0].classList.remove('hidden');
                                    }
                                }, 6000);
                            };
                            window.onload = function () {
                                setTimeout(function () {
                                    window.location.href = 'login.html';
                                }, 6000);
                            };
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>